.app{
  margin: 100px 25%;
  max-width: 445px;
 
}
.keypad{
  display: grid;
  grid-template-columns: auto;
  background-color: #6aafe8;
  padding: 10px;
  max-width: 425px;
}
.keypad .numerical{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.keypad .operations{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.keypad input{
  width: 100px;
  height: 50px;
  margin: 3px;
  font-size: 26px;
  background-color: rgb(141, 194, 196);
  border-radius: 5px;
  border-color: #6aafe8;
}
.keypad input:hover{
  border-color: yellow;
  color: ghostwhite;
}
.result input{
  width: 429px;
  padding: 5px;
  height: 35px;
  font-size: 26px;
  text-align: right;
  border: 3px solid rgb(190, 178, 178);
  color: rgb(124, 121, 90);
}